Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore

@JonahBD
BYU-Hydroinformatics
/
geoglows_hydroviewer
Public
2
2
1
Code
Issues
2
Pull requests
Actions
Projects
Wiki
Security
Insights
geoglows_hydroviewer/tethysapp/geoglows_hydroviewer/public/css/main.css
@rileyhales
rileyhales geoglows hydroviewer rebrand
Latest commit 37f2e8f on Jun 18, 2020
 History
 1 contributor
134 lines (111 sloc)  1.88 KB

/*#app-actions {*/
/*    display: none !important;*/
/*}*/
/* MAP STYLES */
#app-content-wrapper #app-content {
    height: 100%;
}

#inner-app-content {
    padding: 0;
    height: 100%;
}

#chart_modal .modal-dialog {
    width: 80%
}

#app-navigation li {
    list-style-type: none;
}

#inner-app-content .intro_message {
    margin: 0;
}

#map {
    height: 500px
}

.map {
    height: 100%;
    cursor: pointer;
}
