{% extends "regional_bias_correction/base.html" %}
{% load tethys_gizmos %}
{% load static %}
{% load staticfiles %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Data">
    <a data-toggle="modal" data-target="#chart_modal"><span class="glyphicon glyphicon-signal"></span></a>
  </div>
{% endblock %}

{% block app_navigation_items %}
      <label class="control-label" for="time-slider">Map Animation</label>
      <input type="range" min="0" max="40" value="0" class="slider" id="time-slider">
      <li id="current-map-date" style="text-align: center"></li>
      <div style="text-align: center;">
        <button class="header-button glyphicon-button" id="animationBack1"><span
                class="glyphicon glyphicon-chevron-left"></span></button>
        <button class="header-button glyphicon-button" id="animationPlay"><span class="glyphicon glyphicon-play"></span>
        </button>
        <button class="header-button glyphicon-button" id="animationStop"><span class="glyphicon glyphicon-stop"></span>
        </button>
        <button class="header-button glyphicon-button" id="animationPlus1"><span
                class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
{% endblock %}

{% block app_content %}
  <div id="map" class="map"></div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  {# Chart Modals #}
  <div class="modal fade" id="chart_modal" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
          <div class="row">
            <h2 style="text-align: center">Streamflow Results <span id="request-status" class="load-status"/></h2>
          </div>
        </div>

        <div class="modal-body">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a id="forecast_tab_link" href="#forecast" role="tab"
                                                      data-toggle="tab">Forecasts</a></li>
            <li role="presentation"><a id="historical_tab_link" href="#historical" role="tab" data-toggle="tab"
                                       style="display: none">Historical</a></li>
            <li role="presentation"><a id="avg_flow_tab_link" href="#average_flows" role="tab" data-toggle="tab"
                                       style="display: none">Average Flows</a></li>
            <li role="presentation"><a id="flow_duration_tab_link" href="#flow_duration" role="tab" data-toggle="tab"
                                       style="display: none">Flow-Duration</a></li>
            <li role="presentation"><a id="bias_correction_tab_link" href="#bias_correction" role="tab"
                                       style="display: none" data-toggle="tab">Bias Correction</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="forecast">
              <div class="panel panel-default">
                <div id="forecast-date-selector">
                  <label for="forecast_date">Forecast Date: </label>
                  <input class="form-control" id="forecast_date" name="forecast_date" type="text">
                </div>
                <div id="forecast-chart"></div>
                <div id="forecast-table"></div>
              </div>
            </div> <!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="historical">
              <div class="panel panel-default">
                <div style="width: 70%; margin: auto; text-align: center; padding: 16px">
                  <a class="btn btn-success" role="button" style="width: 100%" id="get-historical-btn"
                     onclick="getHistoricalData()">Get Historical Data</a>
                </div>
                <div id="historical-chart" class="panel-body"></div>
                <div id="historical-table"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="average_flows">
              <div class="panel panel-default">
                <div id="daily-avg-chart" class="panel-body"></div>
                <div id="monthly-avg-chart" class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

            <div role="tabpanel" class="tab-pane" id="flow_duration">
              <div class="panel panel-default">
                <div id='flowduration-chart' class="panel-body"></div>
              </div>
            </div><!-- /.tab-pane -->

          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-success" role="button" id="download-forecast-btn" target="_blank">Download Forecast</a>
          <a class="btn btn-success" role="button" id="download-historical-btn" target="_blank" style="display: none">Download
            Historical Data</a>
          <button type="button" class="btn btn-info" id="resize_charts" onclick="fix_chart_sizes('forecasts')">Resize
            the Chart
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block app_actions %}
{% endblock %}


{% block styles %}
  {{ block.super }}
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
  <link rel="stylesheet" href="{% static 'regional_bias_correction/css/main.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}

    <script>
        const URL_getBiasCorrected = "{% url 'regional_bias_correction:getBiasCorrected' %}"
    </script>

  {# Leaflet #}
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script src="{% static 'regional_bias_correction/js/map.js' %}" type="text/javascript"></script>
  <script src="{% static 'regional_bias_correction/js/map_esri.js' %}" type="text/javascript"></script>
{#  <script src="{% static 'regional_bias_correction/js/data_requests.js' %}" type="text/javascript"></script>#}

  <script src="{% static 'regional_bias_correction/js/ajax_cookie_stuff.js' %}" type="text/javascript"></script>

{% endblock %}